@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark: #212529;
  --blue: #00ADB5;
  --grey: #393E46;
}

* {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark);
}

/* img {
  max-width: 100%;
} */

/* -------------- NAVBAR -------------- */
.nav-link {
  background-color: var(--blue);
}

.active {
  background-color: var(--grey);
}

/* como se veran los botones a partir de 992px o mas.. */
@media screen and (min-width: 992px) {
  .nav-item {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

/* como se veran los botones a partir de 992px o menos.. */
@media screen and (max-width: 992px) {
  .nav-item {
    margin-top: 0.5em;
  }
}

/* -------------- FOOTER -------------- */

footer {
  margin-top: auto;
  padding: 1.5em 0;
  width: 100%;
  background-color: var(--grey);
}

/*
    Auther: Abdelrhman Said
*/

a {
  color: #212529;
}

a:hover {
  color: white;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0072b1;
  color: #ffffff;
}

/* como se veran los botones a partir de 992px o menos.. */
@media screen and (max-width: 575px) {
  .div-padding {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

/* -------------- PAGINA PRINCIPAL -------------- */

/* CAROUSEL */
.img-carousel {
  height: 50vh;
  object-fit: cover;
}

/* -------------- PAGINA GALERIA -------------- */

.gallery {
  margin: 1rem;
  columns: 4 240px;
  column-gap: 0.5em;
}

.gallery-img {
  max-width: 100%;
  margin-bottom: 0.5em;
  display: block;
}

.gallery-img:hover {
  outline: 2px solid #fff;
  outline-offset: -10px;
}

/* -------------- PAGINA LOGIN -------------- */

.img-container {
  background-image: url(../assets/gallery/game30.webp);
  background-position: center center;
  background-size: cover;
  width: 100vh;
}

.a-register,
.a-password,
.a-register:hover,
.a-password:hover{
  color: #1877F2;
}

.a{
  text-decoration: none;
}

/* -------------- PAGINA NOSOTROS -------------- */

.card{
  max-width: 100%;
}

/* -------------- PAGINA CONTACTO -------------- */

.contact{
  background-color: white;
  border-radius: 8px;
}

.textarea{
  width: 100%;
  resize: none;
}

.btn-contact{
  width: 100%;
}

/* como se veran el contacto a partir de 575px o menos.. */
@media screen  and (max-width: 575px){
  .contact{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .btn-contact{
    margin-bottom: 0.8em;
  }
}

/* -------------- PAGINA PRINCIPAL -------------- */

.principal-search{
  width: 100%;
}

.list-group-item,
.text-hidden{
  overflow: hidden;
  white-space: nowrap;
}

.list-group-item:hover{
  background-color: var(--blue);
}

.publicity{
  max-width: 100%;
}

/* como se vera la publicidad a partir de 480px o menos.. */
@media screen  and (max-width: 480px){
  .div-publicity{
    display: none;
  }
}

/* -------------- PAGINA POSTS -------------- */

.video-post{
  max-width: 100%;
}

/* Parallax  */
.parallax {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/gallery/game3.webp");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}